{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Deployments</h1>
    <hr>
    <div>
        <div class="mb-4 d-flex align-items-center">
            <button id="update_button" type="button" class="btn btn-outline-primary btn-sm me-2" data-url="?reload_data=1">
                Download new data
            </button>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="labelsCheckbox" checked>
            <label class="form-check-label" for="labelsCheckbox">Show Labels</label>
        </div>
    </div>

    {% if not deployments %}
    <h3>No data to display. </h3>
    {% else %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Deployment</th>
            <th scope="col">Repo</th>
            <th scope="col">Image</th>
            <th scope="col">Default branch </th>
            <th scope="col">Stage</th>
            <th scope="col">Prod</th>
            <th scope="col">Statistics</th>
        </tr>
        </thead>
        <tbody>

        {% for deployment_name, deployment in deployments.items() %}

        {% include "deployments/row.html" %}

        {% include "deployments/detail.html" %}

        {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>

<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/main_row.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/reload_button.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/update_button.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/update_deployment_button.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/detail_row.js') }}"></script>
{% endblock %}
