{% extends "layout.html" %}

{% block content %}


<div class="container-fluid">
    <h1 class="mt-4">Open Pull Requests</h1>
    <button id="update_button" type="button" class="btn btn-outline-primary"
        style="display: inline-flex; align-items: center; width: 120px; margin-bottom: 20px;"
        data-url="open?reload_data=1">
        Update data
    </button>

    <table id="datatable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Repository</th>
                <th>PR/MR</th>
                <th>Draft / WIP</th>
                <th>Author</th>
                <th class="dateTimeRenderColumn">Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for repo, prs in open_pr_list.items() %}
            {% for pr in prs %}
            <tr>
                <td>{{ repo }}</td>
                <td>
                    <a href="{{ pr.html_url }}" target="_blank">{{ pr.number }}</a> {{ pr.title }}
                </td>
                <td>
                    {% if pr.draft or "WIP" in pr.title %}
                    yes
                    {% endif %}
                </td>
                <td>{{ pr.user_login }}</td>
                <td>{{ pr.created_at }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- JavaScript -->
{% block js %}
<script type="application/javascript" src="{{ url_for('static', filename='js/datatable.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='js/update_button.js') }}"></script>
{% endblock %}

{% endblock %}
