{% extends "layout.html" %}

{% block content %}

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The Jira token is not set.</div>
                <div class="mb-4 lead">Set the JIRA_PERSONAL_ACCESS_TOKEN environment variable with access to the JIRA API.</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
