<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Platform Access and Management team">
        A & M team
    </div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('overview.index') }}">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('deployments.index') }}">Deployments</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('pull_requests.open_pull_requests') }}">Open
            PRs</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('pull_requests.merged_pull_requests') }}">Merged
            PRs</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('pull_requests.app_interface_open_merge_requests') }}">App-interface Open
            MRs</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('pull_requests.app_interface_merged_merge_requests') }}">App-interface Merged
            MRs</a>
    </div>
</div>
