<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="btn btn-outline-secondary btn-sm me-2" id="sidebarToggle" title="Toggle sidebar">
                <i class="bi bi-chevron-left" id="sidebarToggleIcon"></i>
            </button>
            <button class="btn btn-outline-primary btn-sm me-2" id="updateAllDataBtn" title="Update all data">
                <i class="bi bi-arrow-clockwise me-1"></i>
                <span class="d-none d-md-inline">Update All</span>
            </button>
            <button class="btn btn-outline-danger btn-sm me-2" id="downloadFromScratchBtn" title="Download all data from scratch">
                <i class="bi bi-arrow-repeat me-1"></i>
                <span class="d-none d-md-inline">Download new data</span>
            </button>
            <button class="btn btn-outline-secondary btn-sm me-3" id="darkModeToggle" title="Toggle dark mode">
                <i class="bi bi-moon-fill" id="darkModeIcon"></i>
            </button>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://spaces.redhat.com/x/WZnvFQ"
                        target="_blank">Confluence Docs</a>
                </li>
                <li>
                    <a class="nav-link"
                        href="https://issues.redhat.com/secure/RapidBoard.jspa"
                        target="_blank">Jira Backlog</a>
                </li>
                <li>
                    <a class="nav-link"
                        href="https://konflux-ui.apps.stone-prd-rh01.pg1f.p1.openshiftapps.com/ns"
                        target="_blank">Konflux</a>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!">Action</a>
                        <a class="dropdown-item" href="#!">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">Something else here</a>
                    </div>
                </li> -->

            </ul>
        </div>
    </div>
</nav>
