{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Access & Management team repos:</h1>

    {% for category in services.categories %}
    <h3>{{ category.category_name|capitalize }}</h3>

    <div class="row">

        {% for repo in category.category_repos %}
        <div class="card" style="width: 20rem;">
            <div class="card-header">{{repo.name.upper()}}</div>
            <div class="card-body">
                <ul>
                    {% for link in repo.links %}
                    <li>
                        <a href="{{ link.link_value }}" target="_blank" class="card-link">
                            {{ link.link_name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endfor %}

</div>

{% endblock %}
